.sevices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
}
.services-item {
  border: 1px solid gray;
  padding: 10px 21px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 21px;
  cursor: pointer;
}
.services-item:hover {
  box-shadow: 3px 3px 30px 5px royalblue;
  color: royalblue;
  transform: scale(1.2);
}
.service-icon {
  margin-right: 5px;
}
.service-icon.bi-card-image {
  color: gray;
}
.service-icon.bi-people-fill {
  color: rgb(52, 5, 96);
}
.service-icon.bi-building {
  color: var(--orange-color);
}
.service-icon.bi-globe {
  color: #10000e;
}
/* Media Queries */
@media (max-width: 920px) {
  .services-item {
    padding: 7px 17px;
    font-size: 17px;
  }
}
@media (max-width: 720px) {
  .services {
    flex-wrap: wrap;
  }
  .services-item {
    padding: 10px 15px;
    font-size: 20px;
    width: 45%;
    margin-bottom: 15px;
  }
}
@media (max-width: 520px) {
  .services-item {
    font-size: 24px;
    width: 90%;
    text-align: center;
  }
}
